<configuration>

	<logger name="org.apache" level="INFO" />

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder 
			by default -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>


	<root level="debug">
		<appender-ref ref="FILE" />
	</root>
	
	<logger name="com.github.webapp" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>

	<logger name="com.github.webapp.AppStartup" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>
	
	<logger name="com.github.webapp.AppShutdown" level="INFO">
		<appender-ref ref="STDOUT" />
	</logger>

</configuration>